<html>
  <head>
    <title><%= title %></title>
    <style type="text/css">
      
    body { font-family: Times, serif; }
    .header { text-align: right; font-weight: bold; padding-right: 30%; line-height: 300%; }
    h1 { text-align: center; }
    ol.questions { list-style-type: number; }
    li.question { border-bottom: 1px solid grey; padding-bottom: 2ex; }
    li.multiplechoice  ol.answers { list-style-type: lower-alpha; }
    li.multiplechoice  ol.answers li { padding-bottom: 0.5ex; }
    li.selectmultiple  ol.answers { vertical-align: center; list-style-type: none; list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAD///+l2Z/dAAAAEklEQVQImWNgAIL6/w+ogoEAAKI4Kp2NVIeDAAAAAElFTkSuQmCC');  }
    li.truefalse ol.answers { list-style-type: none; }
    li.truefalse ol.answers li { width: 15%; display: inline-block; }
    .instructions { clear: both; border: 1px solid black; align: center; padding: 2ex; margin: 2ex; }
    </style>
  </head>
  <body>
    <div class="header">
      <div id="name">Name:</div>
      <div id="sid">SID:</div>
    </div>
    <h1><%= title %></h1>
    <div class="instructions">
      <ul>
        <li>No books, notes, or electronic devices allowed.  </li>
        <li>Time limit is 30 minutes.</li>
        <li><%= num_questions %> questions, all worth the same unless
          otherwise noted.
          <%= total_points %> points total.</li>
        <li>For 'select all that apply' questions that have N choices,
          you get 1/N of the points for each RIGHT answer that you check, plus
          1/N of the points for each WRONG answer that you correctly
          leave unchecked.</li>
      </ul>
      <b>Good skill!</b>
    </div>
    <%= yield %>
  </body>
</html>
