<html>
  <head>
    <title><%= quiz.title %></title>
    <style type="text/css" media="all">
    body { font-family: Times, serif; }
    .header { text-align: right; font-weight: bold; padding-right: 30%; line-height: 300%; }
    h1 { text-align: center; }
    ol.questions { list-style-type: number; }
    li.question { page-break-inside: avoid; border-bottom: 1px solid grey;  }
    li.multiplechoice  ol.answers { list-style-type: lower-alpha; }
    li.selectmultiple  ol.answers { vertical-align: center; list-style-type: none; list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAD///+l2Z/dAAAAEklEQVQImWNgAIL6/w+ogoEAAKI4Kp2NVIeDAAAAAElFTkSuQmCC');  }
    li.truefalse ol.answers { list-style-type: none; }
    .correct { color: green; font-weight: bold; border: 1px solid black; padding: 0.2ex; }
    .incorrect { color: red }
    .explanation { font-style: italic }
    .instructions { clear: both; border: 1px solid black; align: center; padding: 2ex; margin: 2ex; }
    </style>
  </head>
  <body>
    <div class="header">
      <div id="name">Name:</div>
      <div id="sid">SID:</div>
    </div>
    <h1><%= quiz.title %></h1>
    <div class="instructions">
      <ul>
        <li>No books, notes, or electronic devices allowed.  </li>
        <li>Time limit is 30 minutes.</li>
        <li><%= quiz.num_questions %> multiple-choice questions, points indicated per question,
          <%= quiz.points %> points total.  Points per question are intended 
          to reflect approximate times they should take, at about 1 point per minute.</li>
        <li>For 'select all that apply' questions worth N points,
          you get 1/N of the points for each RIGHT answer that you check, plus
          1/N of the points for each WRONG answer that you correctly
          leave unchecked.  That is, equal weight is given to deciding
          whether each choice is part of the right answer or not.</li> 
      </ul>
      <b>Good skill!</b>
    </div>
    <%= yield %>
  </body>
</html>
